@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section class=" bg-dark infoBlock">
        <h1 class="text-light">A little about me</h1>
        <img src="/assets/geneCathcartProfile.jpg" alt="Profile view of Gene Cathcart" class="devPic">
        <div class="textbox bg-light">
            <p>
                Hello, I am Gene Cathcart. I am a developer in training with Centriq Training and have a passion for all things technology.
                I have been slowly teaching myself different aspects of scripting over the past 10 years and decided it was finally
                time to dive in and become certified in a field I love. If you think you would like to work with me make sure to:
            </p>
        </div>
    </section>
</main>
