@{
    ViewData["Title"] = "Links";
}

<main>

    <section class="container">
        <h1>Centriq Classmates</h1>
        <div class="row justify-content-center my-4">
            <div class="col-md-4 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/genericProfile.png" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Alex Eldrich</h1>
                            <p>Full Stack Developer</p>
                            <p>We love that guy</p>
                            <div>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                                <a href="http://www.genecathcart.com" target="_blank"><i class="fa-solid fa-link fa-2xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/RobertProfile.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Robert Eyre</h1>
                            <p>Full Stack Developer</p>
                            <p>We love that guy</p>
                            <div>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                                <a href="http://www.roberteyre.com" target="_blank"><i class="fa-solid fa-link fa-2xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/WilliamProfile.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>William Watts</h1>
                            <p>Full Stack Developer</p>
                            <p>We love that guy</p>
                            <div>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                                <a href="http://www.williamdwatts.com" target="_blank"><i class="fa-solid fa-link fa-2xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-4">
            <div class="col-md-4 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/CorbinProfile.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Corbin Brown</h1>
                            <p>Full Stack Developer</p>
                            <p>We love that guy</p>
                            <div>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                                <a href="http://www.corbin-brown.com" target="_blank"><i class="fa-solid fa-link fa-2xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/DanProfile.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Dan Ambro</h1>
                            <p>Full Stack Developer</p>
                            <p>We love that guy</p>
                            <div>
                                <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                                <a href="http://www.danielambro.com/" target="_blank"><i class="fa-solid fa-link fa-2xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/assets/genericProfile.png" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Colson Donner</h1>
                            <p>Full Stack Developer</p>
                            <p>We love that guy</p>
                            <div>
                                <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                                <a href="http://www.genecathcart.com" target="_blank"><i class="fa-solid fa-link fa-2xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>