@{
    ViewData["Title"] = "Resume";
}

<main>
    <div class="infoBlock bg-dark justify-content-center">
        <h1 class="text-light">Check out my Resume</h1>
        <iframe src="/assets/GeneCathcartResumeIT.pdf#toolbar=0" width="75%" height="600px"></iframe>
        <a href="/assets/GeneCathcartResumeIT.pdf" download class="downloadButton text-dark">Download</a>
    </div>
</main>
